/* Estilos para o cabeçalho (header) */
.header {
    background-color: #007bff; /* Azul */
    color: #fff; /* Branco */
    padding: 20px;
    text-align: center;
}

/* Estilos para o tema preto e verde fluorescente */
body.theme-dark .header {
    background-color: #000; /* Preto */
    color: #fff; /* Branco */
}

/* Estilos para o rodapé (footer) */
.footer {
    width: 100%;
    background-color: #007bff; /* Azul */
    color: #fff; /* Branco */
    padding: 20px;
    border-top: 1px solid #ddd;
    text-align: center;
}

/* Estilos para o tema preto e verde fluorescente */
body.theme-dark .footer {
    background-color: #000; /* Preto */
    color: #fff; /* Branco */
}


.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    color: #000; /* Preto */
}

.options-container {
    display: flex;
    justify-content: space-between;
}

.options-section {
    flex: 1;
    margin-right: 20px;
}

.options-section h2 {
    margin-top: 0;
}

.password-options,
.nickname-options {
    margin-bottom: 20px;
}

.checkbox-label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox-label input[type="checkbox"] {
    margin-right: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 12px;
    color: #fff; /* Branco */
    background-color: #007bff; /* Azul */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3; /* Azul mais escuro */
}

.input-output {
    margin-top: 20px;
    padding: 15px;
    background-color: #f9f9f9; /* Cinza claro */
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #000; /* Preto */
}

/* Estilos para o rodapé (footer) */
.footer {
    width: 100%;
    background-color: #007bff; /* Azul */
    color: #000; /* Preto */
    padding: 20px;
    border-top: 1px solid #ddd;
    text-align: center;
}

/* Estilos para o tema preto e verde fluorescente */
body.theme-dark .footer {
    background-color: #000; /* Preto */
    color: #fff; /* Branco */
}

.footer .background-toggle label {
    color: #000; /* Preto */
}

.background-toggle select {
    padding: 8px;
    border-radius: 4px;
    background-color: #fff; /* Branco */
    color: #000; /* Preto */
}

.background-toggle select:focus {
    outline: none;
}


